{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":726.2999999999997,"scrollleft":0,"selection":{"start":{"row":51,"column":4},"end":{"row":51,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":44,"state":"start","mode":"ace/mode/ini"}},"timestamp":1687133754827,"hash":"1fc4247dfa22e291a1bf793ae405800574997fba"}