/* mystyle.css */
body {
    background-color: rgb(255, 239, 162);
    background-image: url(Game.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    color: rgb(186, 186, 186);
    margin-left: 30px;
    margin-right: 30px;
    font: bold 20px monospace, sans-serif;
    text-align: center;
    text-shadow: -2px 0px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0),
        2px 0px rgb(0, 0, 0),
        0px 2px rgb(0, 0, 0);
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: solid 2px white;
    font-size: 40px;
    /* text-shadow: 5px 5px 2px rgb(148, 152, 111); */
    text-shadow: -3px 0px rgb(0, 0, 0), 0px -3px rgb(0, 0, 0),
        3px 0px rgb(0, 0, 0),
        0px 3px rgb(0, 0, 0);
    margin-top: 50px;
}

hr {
    /* border: 6px solid yellowgreen; */
    box-shadow: 5px 5px 8px;

}

input {
    color: rgb(187, 186, 186);
    font-size: 17px;
    font-weight: bolder;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0),
        1px 0px rgb(0, 0, 0),
        0px 1px rgb(0, 0, 0);
}

button {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

a {
    font-family: monospace;
    font-size: 18px;
    color: rgb(255, 255, 255);

}

input[type="text"] {
    background-color: rgb(216, 216, 216);
}

input[type="password"] {
    background-color: rgb(216, 216, 216);


}


div.box {
    opacity: 90%;
    background: rgb(209, 244, 138);
    border-style: solid;
    border-color: yellowgreen;
    text-align: center;
    box-shadow: 15px;


    margin: 100px;
    border-width: 2px;
    padding: 50px;
    width: 350px;
    height: 200px;

    border-radius: 30px;
    box-shadow: 5px 5px 8px;
}

div.box2 {
    border-style: none;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
}

div.title {
    background-color: rgb(209, 244, 138);
    opacity: 85%;
    border-radius: 50px;
    margin-left: 75px;
    margin-right: 75px;
    box-shadow: 5px 5px 8px;
    height: 10vh;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    border-style: solid;
    border-color: yellowgreen;
}

div.buttonbox {
    color: gray;
    font-size: 13px;
        text-shadow: -2px 0px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0),
                2px 0px rgb(0, 0, 0),
                0px 2px rgb(0, 0, 0);
}