table {
    /* 이중 테두리 제거 */
    border-collapse: collapse;
}

td,
th {
    /* 모든 셀에 적용 */
    text-align: center;
    padding: 5px;
    height: 15px;
    width: 100px;
    font-weight: bolder;
}

thead,
tfoot {
    /* <thead>의 모든 셀에 적용 */
    background: rgb(7, 121, 9);
    color: rgb(208, 255, 208);
}

tbody tr:nth-child(even) {
    /* 짝수 <tr>에 적용*/
    background: rgb(246, 255, 151);
}

tbody {
    background-color: rgb(208, 255, 208);
}

tbody tr:hover {
    /* 마우스가 올라오면 pink 배경 */
    background: rgb(122, 191, 255);
}